


body {
  max-width: 62vw;
  color: #252525;
  margin: auto;
  margin-bottom: 10vh;
  font-size: 3vh;
}

.total-count {
  margin-bottom: 2vh;
  text-decoration: underline;
}

.total-container div {
  text-indent: 5vw;
}


.incident-container {
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  row-gap: 2vh;
}

.incident {
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: 11vw 11vw 11vw 11vw 11vw;
  column-gap: 1vw;
}

.incident1 {
  background-color: rgba(0, 0, 0, 0.096);
}

.incident-title {
  font-weight: 700;
  border: none;
  background-color: rgba(29, 27, 27, 0.856);
  color: rgb(255, 255, 255);
}

.incidents-today {
  text-decoration: underline;
}


