


body {
  max-width: 62vw;
  color: #252525;
  margin: auto;
}


.incident-container *{
  outline: 1px red solid;
}

.incident-container {
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  row-gap: 1vh;
}

.incident {
  display: grid;
  text-align: center;
  grid-template-columns: 11vw 11vw 11vw 11vw 11vw;
  column-gap: 1vw;
}

.incident-title {
  font-weight: 700;
  font-size: 120%;
}

.incident-details {
}

